.main-header {
  background-color: #f7f7f7;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

.price {
  font-size: 24px;
}

.shipping {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #777;
}

.product-details-header {
  text-transform: uppercase;
  font-size: 16px;
}

article {
  border: 4px black;
  border-style: outset;
}

body {
  font-family: sans-serif;
  height: 1.4;
}

a:link,
a:visited {
  color: black;
}

a:hover,
a:active {
  color: black;
  text-decoration: none;
}
